@font-face {
    font-family: schulvokal;
    src: url(/Fonts/schulvokaldotless-font/Schulvokaldotless-x8Mm.ttf);
}

@font-face {
    font-family: fa;
    src: url(/Fonts/webfonts/fa-regular-400.ttf);
}